<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <a href="{% url 'create_user' %}">Добавить нового</a>
    <ul>
        {% for user in users %}
            <li>
                ID: {{ user.id }} - ФИО: {{ user.full_name }}
                <a href="{% url 'update_user' user.id %}">Изменить</a>
                <a href="{% url 'delete_user' user.id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>